.container {
  min-height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
}

.section {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.heading1 {
  font-size: 4rem;
}

.heading2 {
  font-size: 2rem;
}
