.inputColor {
  appearance: none;
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;
  width: 64px;
  height: 64px;
}

.inputText {
  appearance: none;
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;
  width: 300px;
  height: 64px;
}

.textContainer {
  position: relative;
}
.textStroke {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 32px 16px;
}
.text {
  position: relative;
  padding: 32px 16px;
}
